body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.brand {
  color: #444;
  font-size: 21px;
  padding: 20px 0;
}

.brand { font-weight: normal; }
.brand span { font-weight: bold; }

.hero {
  position: relative;
  background: #008CBA;
  background-image: url('../img/project_papper_@2X-2.png');
  color: white;
  line-height: 1.4;
}
.hero .upper-hero { 
  font-size: 24px; 
  font-weight: bold;
  margin-top: 100px;
}
.hero .lower-hero {
  font-size: 18px;
  margin: 20px 0 100px;
} 

.about {
  color: #444;
  margin: 50px 0 0;
}
.about h3 { color: #444; font-size: 18px; font-weight: bold; }
.about p {
  font-size: 16px;
  line-height: 1.6;
}
.about .note-open { margin-top: 30px; margin-bottom: 20px; }

.contents { 
  padding-top: 40px;
  padding-bottom: 30px;

}
.contents h3 {
  font-size: 24px;
  font-weight: 300;
  text-align: center; 
  margin-bottom: 30px;
}
.contents ul li {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: normal;
  list-style-type: none;
  text-align: center;
}

.video-resource {
  background: black;
  font-size: 21px;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 40px 0 20px;
}
.video-resource .intro { margin-bottom: 30px; }
.video-resource blockquote { 
  color: white;
  line-height: 1.4;
  border-left: 0;
}

.section {
  color: #444;
  margin-top: 50px;
}
.section .intro h3 { 
  font-size: 21px; 
  margin-bottom: 40px; 
}
.section h4 {
  color: #666;
  font-size: 18px; 
  font-weight: bold; 
}
.tech p { font-size: 16px; margin-top: 20px; }
.tech > div { margin-top: 30px;}

.new-education {
  color: #444;
  margin-top: 50px; 
}
.new-education .intro { 
  margin-top: 30px;
  margin-bottom: 10px;
}
.new-education .intro h3 { font-size: 18px; font-weight: bold; }
.new-education h2 { font-size: 24px; }
.new-education h4 { color: #444; font-size: 18px; font-weight: bold; }

.continuous-process { margin-top: 20px; }
.continuous-process p { font-size: 21px; }

@media only screen and (min-width: 40.063em) { /* medium screens */
  .hero .upper-hero { 
    font-size: 34px;
    margin-top: 150px;
  }
  .hero .lower-hero { 
    font-size: 24px;
    margin-bottom: 170px;
  }

  .section .intro h3 { font-size: 28px; }
}